<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1">
        <title>Randomizer</title>

        <!-- JS modules and constants -->
        <script src="scripts/base.js"></script>
        <script src="scripts/constants.js"></script>

        <!-- JS base modes -->
        <script src="modes/default_horn.js"></script>
        <script src="modes/default_sod.js"></script>
        <script src="modes/jo_282.js"></script>
        <script src="modes/jo_ua.js"></script>
        <script src="modes/jr4_ludo_clash.js"></script>
        <script src="modes/jr4_shadow_economy.js"></script>
        <script src="modes/mt_outcast.js"></script>

        <!-- JS base languages -->
        <script src="lang/en.js"></script>
        <script src="lang/ru.js"></script>

        <!-- JS app code and handlers -->
        <script>
            'use strict';

            /**
             * Application object
             *
             * @type {{
             * RANDOM_CHANCE: number,
             * RETRY_ATTEMPTS: number,
             * SKILL_PATTERN: RegExp,
             * TRANSLATE_CLASS: string,
             * DEFAULT_MODE: string,
             * STRICT_ROLL: boolean,
             * modules: {}|{trans: trans, modal:modal, modeProvider: modeProvider, store: store, picker: picker, popup: popup, settings: settings},
             * skills: null|object,
             * heroList: null|object,
             * specialties: null|object,
             * allowedHeroes: null|object,
             * allowedTowns: null|string[],
             * userHeroBans: string[],
             * userTownBans: string[],
             * grid: {heroes: {}, towns: {}},
             * dom: {left: {}, right: {}},
             * start: app.start,
             * register: app.register,
             * reset: app.reset,
             * getLang: (function()),
             * setLang: app.setLang,
             * getMode: (function(): null|string),
             * getRegisteredModes: (function(): string[]),
             * getModeName: (function(null|string=): null|string),
             * setMode: app.setMode,
             * concatHeroHelper: (function(object): object),
             * getRandomPair: (function(): {left: null, right: null}|{left: {town: string, hero: string}, right: {town: string, hero: string}}),
             * resetUserBans: app.resetUserBans,
             * renderPair: app.renderPair,
             * createHeroGrid: app.createHeroGrid,
             * renewHeroGrid: app.renewHeroGrid,
             * handleModalClose: (function(): boolean),
             * }}
             *
             * @property {{trans: trans, modal:modal, modeProvider: modeProvider, store: store, picker: picker, popup: popup, settings: settings}} modules modules of app
             */
            const app = {
                RETRY_ATTEMPTS: 3,
                RANDOM_CHANCE: 0.35,
                TRANSLATE_CLASS: '.translate-on-start',
                SKILL_PATTERN: /^([a-z]+)_(\w+)/i,
                DEFAULT_MODE: 'JO_282',
                STRICT_ROLL: false,
                modules: {},
                heroList: null,
                skills: null,
                specialties: null,
                allowedHeroes: null,
                allowedTowns: null,
                userTownBans: [],
                userHeroBans: [],
                dom: {left: {}, right: {}},
                grid: {towns: {}, heroes: {}},
                /**
                 * Add module to app
                 *
                 * @param {string} name   module name
                 * @param {object} module module itself
                 */
                register: function (name, module) {
                    this.modules[name] = module;
                },
                /**
                 * Start application handler
                 *
                 * @param {object} heroList     heroes`n`towns object
                 * @param {object} skillList    skills object
                 * @param {object} specialities specialities object
                 */
                start: function (heroList, skillList, specialities) {
                    let name, mode, side, skill, item;

                    this.heroList    = heroList;
                    this.skills      = skillList;
                    this.specialties = specialities;

                    // start modules, add external components
                    for (name in this.modules)
                        if (this.modules.hasOwnProperty(name)) {
                            this.modules[name].init();
                        }

                    this.modules.modeProvider.addMode('HotADefault', null, defaultHotAGame.bannedHeroes, defaultHotAGame.bannedTowns, defaultHotAGame.mirror, true);
                    this.modules.modeProvider.addMode('SODDefault', null, defaultSODGame.bannedHeroes, defaultSODGame.bannedTowns, defaultSODGame.mirror, true);
                    this.modules.modeProvider.addMode('JO_282', null, JO_282.bannedHeroes, JO_282.bannedTowns, JO_282.mirror, true);
                    this.modules.modeProvider.addMode('JO_UA', null, JO_UA.bannedHeroes, JO_UA.bannedTowns, JO_UA.mirror, true);
                    this.modules.modeProvider.addMode('JR4_LC', null, JR4LudoClash.bannedHeroes, JR4LudoClash.bannedTowns, JR4LudoClash.mirror, true);
                    this.modules.modeProvider.addMode('JR4_SE', null, JR4ShadowEconomy.bannedHeroes, JR4ShadowEconomy.bannedTowns, JR4ShadowEconomy.mirror, true);
                    this.modules.modeProvider.addMode('MT_OC', null, MTOutcast.bannedHeroes, MTOutcast.bannedTowns, MTOutcast.mirror, true);

                    this.modules.trans.addLang('en', EN);
                    this.modules.trans.addLang('ru', RU);
                    this.modules.trans.setActiveLang(this.getLang());

                    mode = this.getMode();

                    if (mode && this.modules.modeProvider.isMode(mode)) {
                        this.allowedTowns  = this.modules.modeProvider.getAllowedTowns(mode, Object.keys(this.heroList));
                        this.allowedHeroes = this.modules.modeProvider.getAllowedHeroes(mode, this.heroList);
                    } else if (mode) {
                        this.setMode(null);
                    }

                    // create links for all key DOM Elements
                    for (side of ['left', 'right']) {
                        this.dom[side].townName = document.querySelector('#@side-town-name'.replace('@side', side));
                        this.dom[side].townImg  = document.querySelector('#@side-town-img'.replace('@side', side));
                        this.dom[side].townLink = this.dom[side].townImg.parentNode;
                        this.dom[side].heroName = document.querySelector('#@side-hero-name'.replace('@side', side));
                        this.dom[side].heroType = document.querySelector('#@side-hero-type'.replace('@side', side));
                        this.dom[side].heroImg  = document.querySelector('#@side-hero-img'.replace('@side', side));
                        this.dom[side].heroLink = this.dom[side].heroImg.parentNode;
                        this.dom[side].specName = document.querySelector('#@side-spec-name'.replace('@side', side));
                        this.dom[side].specImg  = document.querySelector('#@side-spec-img'.replace('@side', side));
                        this.dom[side].specLink = this.dom[side].specImg.parentNode;
                        this.dom[side].skills   = [];

                        for (skill of document.querySelectorAll('#@side-skills .skill'.replace('@side', side))) {
                            this.dom[side].skills.push({
                                level: skill.querySelector('.skill__level'),
                                name : skill.querySelector('.skill__name'),
                                img  : skill.querySelector('.side__skill'),
                                link : skill.querySelector('.content-link')
                            });
                        }
                    }

                    // translate all marked elements
                    for (item of document.querySelectorAll(this.TRANSLATE_CLASS)) {
                        item.innerHTML = translate(item.innerHTML);
                    }
                },
                /**
                 * Reset application and all its modules Local Storage data
                 */
                reset: function () {
                    // reset all app and modules
                    localStorage.clear();
                },
                /**
                 * Get id of current used mode
                 *
                 * @returns {null|string}
                 */
                getMode: function () {
                    return this.modules.settings.getOption('mode', this.DEFAULT_MODE);
                },
                /**
                 * Get name of specific mode or name of current used mode
                 *
                 * @param {string} id unique mode id
                 *
                 * @returns {null|string}
                 */
                getModeName: function (id) {
                    return this.modules.modeProvider.getName(id || this.getMode());
                },
                /**
                 * Get list of ids of all available modes
                 *
                 * @returns {string[]}
                 */
                getRegisteredModes: function () {
                    return this.modules.modeProvider.getListOfModes();
                },
                /**
                 * Set current mode and load its parameters from store
                 *
                 * @param {null|string} mode unique mode id
                 */
                setMode: function (mode) {
                    if (mode) {
                        this.allowedTowns  = this.modules.modeProvider.getAllowedTowns(mode, Object.keys(this.heroList));
                        this.allowedHeroes = this.modules.modeProvider.getAllowedHeroes(mode, this.heroList);
                    }

                    this.modules.settings.setOption('mode', mode);
                },
                /**
                 * Set current used language
                 *
                 * @param {string} lang language name
                 */
                setLang: function (lang) {
                    document.documentElement.lang = lang;

                    this.modules.settings.setOption('lang', lang);
                },
                /**
                 * Get current language name, if it is not set - html tag lang attribute value
                 *
                 * @returns {string}
                 */
                getLang: function () {
                    return this.modules.settings.getOption('lang', document.documentElement.lang);
                },
                getStrictState: function () {
                    return this.modules.settings.getOption('strictRoll', this.STRICT_ROLL);
                },
                getOption: function (key) {
                    return this.modules.settings.getOption(key);
                },
                /**
                 * Helper, will concat user banned heroes to used heroes object
                 *
                 * @param {object} heroList used heroes object
                 *
                 * @returns {Object}
                 */
                concatHeroHelper: function (heroList) {
                    let index, town, hero, key;

                    for (index of this.userHeroBans) {
                        key  = index.split('.', 2);
                        hero = key.pop();
                        town = key.pop();

                        if (heroList.hasOwnProperty(town)) {
                            heroList[town].push(hero);
                        } else {
                            heroList[town] = [hero];
                        }
                    }

                    return heroList;
                },
                /**
                 * Build blocks with town and hero tiles, add handlers on it. All links for tiles will be stored in app for quick access, app will handle tiles state
                 *
                 * @param {Element} townBlock   DOM element where to place town block
                 * @param {Element} heroesBlock DOM element where to place hero blocks
                 */
                createHeroGrid: function (townBlock, heroesBlock) {
                    let strict     = this.getStrictState(),
                        mode       = this.getMode(),
                        usedTowns  = [],
                        usedHeroes = {},
                        heroTile   = document.createElement('DIV'),
                        townTile   = document.createElement('DIV'),
                        heroBlock  = document.createElement('DIV'),
                        town, hero, elem, img, block, item;

                    heroTile.classList.add('grid__hero-tile');
                    heroBlock.classList.add('grid__hero-block', 'hidden');
                    townTile.classList.add('grid__town-tile');

                    if (strict) {
                        usedTowns  = this.modules.store.getUsedTowns(mode);
                        usedHeroes = this.modules.store.getUsedHeroes(mode);
                    }

                    for (town in this.heroList)
                        if (this.heroList.hasOwnProperty(town)) {
                            elem = townBlock.appendChild(townTile.cloneNode());
                            img  = elem.appendChild(document.createElement('IMG'));

                            elem.title = town;
                            img.title  = translate('town.' + town);
                            img.src    = this.heroList[town].img;

                            if (this.allowedTowns.includes(town)) {
                                if (usedTowns.includes(town)) {
                                    elem.classList.add('used');
                                }

                                // first click - displays hero list of this town and bans it for next roll, next one - remove ban
                                elem.addEventListener('click', function (e) {
                                    let active = document.querySelector('.grid__hero-block:not(.hidden)');

                                    if (active.title !== e.currentTarget.title) {
                                        active.classList.add('hidden');
                                        document.querySelector('.grid__hero-block[title="' + e.currentTarget.title +'"]').classList.remove('hidden');
                                    }

                                    if (e.currentTarget.classList.contains('used')) {
                                        return;
                                    }

                                    if (this.userTownBans.includes(e.currentTarget.title)) {
                                        this.userTownBans.splice(this.userTownBans.indexOf(e.currentTarget.title), 1);

                                        e.currentTarget.classList.remove('skipped');
                                    } else {
                                        this.userTownBans.push(e.currentTarget.title);

                                        e.currentTarget.classList.add('skipped');
                                    }
                                }.bind(this));

                                block = heroesBlock.appendChild(heroBlock.cloneNode());

                                block.title = town;

                                for (hero in this.heroList[town].heroes)
                                    if (this.heroList[town].heroes.hasOwnProperty(hero)) {
                                        item = block.appendChild(heroTile.cloneNode());
                                        img  = item.appendChild(document.createElement('IMG'));

                                        item.title = town + '.' + hero;
                                        img.title  = translate('hero.' + hero);
                                        img.src    = this.heroList[town].heroes[hero].img;

                                        if (!this.allowedHeroes[town].includes(hero)) {
                                            item.classList.add('banned');
                                        } else {
                                            if (usedHeroes[town] && usedHeroes[town].includes(hero)) {
                                                item.classList.add('used');
                                            }

                                            // first click - ban hero for next roll, next one removes this ban
                                            item.addEventListener('click', function (e) {
                                                if (!e.currentTarget.classList.contains('used')) {
                                                    if (this.userHeroBans.includes(e.currentTarget.title)) {
                                                        this.userHeroBans.splice(this.userHeroBans.indexOf(e.currentTarget.title), 1);

                                                        e.currentTarget.classList.remove('skipped');
                                                    } else {
                                                        this.userHeroBans.push(e.currentTarget.title);

                                                        e.currentTarget.classList.add('skipped');
                                                    }
                                                }
                                            }.bind(this));
                                        }

                                        this.grid.heroes[item.title] = item;
                                    }
                            } else {
                                elem.classList.add('banned')
                            }

                            this.grid.towns[town] = elem;
                        }

                    document.querySelector('.grid__hero-block:not(.banned)').classList.remove('hidden');
                },
                /**
                 * Change tile state according current mode
                 */
                renewHeroGrid: function () {
                    let strict     = this.getStrictState(),
                        mode       = this.getMode(),
                        usedTowns  = [],
                        usedHeroes = {},
                        index, town, hero, key;

                    if (strict) {
                        usedTowns  = this.modules.store.getUsedTowns(mode);
                        usedHeroes = this.modules.store.getUsedHeroes(mode);
                    }

                    for (index in this.grid.towns)
                        if (this.grid.towns.hasOwnProperty(index)) {
                            if (usedTowns.includes(this.grid.towns[index].title)) {
                                this.grid.towns[index].classList.add('used');

                                if (this.userTownBans.includes(this.grid.towns[index].title)) {
                                    this.grid.towns[index].classList.remove('skipped');

                                    this.userTownBans.splice(this.userTownBans.indexOf(this.grid.towns[index].title), 1);
                                }
                            } else {
                                this.grid.towns[index].classList.remove('used');
                            }
                        }

                    for (index in this.grid.heroes)
                        if (this.grid.heroes.hasOwnProperty(index)) {
                            key  = this.grid.heroes[index].title.split('.', 2);
                            hero = key.pop();
                            town = key.pop();

                            if (usedHeroes[town] && usedHeroes[town].includes(hero)) {
                                this.grid.heroes[index].classList.add('used');

                                if (this.userHeroBans.includes(this.grid.heroes[index].title)) {
                                    this.grid.heroes[index].classList.remove('skipped');

                                    this.userHeroBans.splice(this.userHeroBans.indexOf(this.grid.heroes[index].title), 1);
                                }
                            } else {
                                this.grid.heroes[index].classList.remove('used');
                            }
                        }
                },
                /**
                 * Clear user town and hero bans for next roll and update tiles state
                 */
                resetUserBans: function () {
                    let index;

                    for (index of this.userTownBans) {
                        this.grid.towns[index].classList.remove('skipped');
                    }

                    for (index of this.userHeroBans) {
                        this.grid.heroes[index].classList.remove('skipped');
                    }

                    this.userTownBans = [];
                    this.userHeroBans = [];
                },
                /**
                 * Handler will update settings if it is required
                 *
                 * @returns {boolean}
                 */
                handleModalClose: function () {
                    if (this.modules.modal.getActiveId() === 'modal_content-settings') {
                        let lang    = document.querySelector('#option-lang').title,
                            mode    = document.querySelector('#option-mode').selectedOptions[0].value,
                            updated = false,
                            option;

                        if (lang !== this.getLang()) {
                            this.setLang(lang);

                            updated = true;
                        }

                        if (mode !== this.getMode()) {
                            this.setMode(mode);

                            updated = true;
                        }

                        for (option of document.querySelectorAll('.modal-block__option-check')) {
                            if (this.modules.settings.getOption(option.name, false) !== option.checked) {
                                this.modules.settings.setOption(option.name, option.checked);

                                updated = true;
                            }
                        }

                        if (updated) {
                            this.modules.settings.store();
                        }

                        return updated;
                    }

                    return false;
                },
                /**
                 * Get random pair of town`n`hero combination
                 *
                 * @returns {{left: null, right: null}|{left: {town: string, hero: string}, right: {town: string, hero: string}}}
                 */
                getRandomPair: function () {
                    let strict     = this.getStrictState(),
                        mode       = this.getMode(),
                        pair       = {left: null, right: null},
                        isMirror   = this.modules.modeProvider.getIsMirror(mode),
                        usedTowns  = [].concat(this.userTownBans),
                        usedHeroes = this.concatHeroHelper({}),
                        pick, side, attempt, town;

                    // if mode allows mirror - generate random mirror state
                    if (typeof isMirror !== 'boolean') {
                        isMirror = Math.random() <= this.RANDOM_CHANCE;
                    }

                    for (side in pair)
                        if (pair.hasOwnProperty(side)) {
                            attempt    = this.RETRY_ATTEMPTS;

                            if (strict) {
                                usedTowns  = this.modules.store.getUsedTowns(mode).concat(this.userTownBans);
                                usedHeroes = this.concatHeroHelper(this.modules.store.getUsedHeroes(mode));
                            }

                            // handle mirror town selection
                            if (isMirror && pair.left) {
                                town = pair.left.town;
                            }

                            // try to get hero and town, theoretically - 3 attempts is enough to do it
                            do {
                                // try to get hero and town
                                pick = this.modules.picker.getRandomHero(this.allowedHeroes, usedHeroes, usedTowns, town);

                                // if town is empty - reset used towns and retry
                                if (!pick.town) {
                                    if (strict) {
                                        this.modules.store.resetUsedTowns(mode);

                                        usedTowns = this.modules.store.getUsedTowns(mode).concat(this.userTownBans);
                                    }

                                    continue;
                                }

                                // if hero is empty - reset used heroes for this town and retry
                                if (!pick.hero) {
                                    if (strict) {
                                        this.modules.store.resetUsedHeroes(mode, pick.town);

                                        usedHeroes = this.concatHeroHelper(this.modules.store.getUsedHeroes(mode));
                                    }

                                    continue;
                                }

                                // if hero and town presented - store them and then end
                                pair[side] = pick;

                                if (strict) {
                                    this.modules.store.addUsedTown(mode, pick.town);
                                    this.modules.store.addUsedHero(mode, pick.town, pick.hero);

                                    this.modules.picker.updateLastPick(pick.town, pick.hero);
                                } else {
                                    usedTowns.push(pick.town);

                                    if (!usedHeroes[pick.town]) {
                                        usedHeroes[pick.town] = [];
                                    }

                                    usedHeroes[pick.town].push(pick.hero);
                                }

                                break;
                            } while (--attempt);
                        }

                    // check result
                    if (!pair.left || !pair.right) {
                        throw 'Failed to pick pair: left is ' + (!pair.left ? 'empty' : 'filled') + ', right is ' + (!pair.right ? 'empty' : 'filled');
                    }

                    // if everything is fine persist store
                    if (strict) {
                        this.modules.store.persistUsedTowns(mode);
                        this.modules.store.persistUsedHeroes(mode, pair.left.town);

                        if (!isMirror) {
                            this.modules.store.persistUsedHeroes(mode, pair.right.town);
                        }

                        this.modules.picker.persistLastPick();
                    }

                    return pair;
                },
                /**
                 * Render town`n`hero pair in associated DOM Elements
                 *
                 * @param {object} pair            town`n`hero pair
                 * @param {object} pair.left       left town and hero
                 * @param {string} pair.left.town  left town name
                 * @param {string} pair.left.hero  left hero name
                 * @param {object} pair.right      right town and hero
                 * @param {string} pair.right.town right town name
                 * @param {string} pair.right.hero right hero name
                 */
                renderPair: function (pair) {
                    let side, index, skill, level, key;

                    for (side of ['left', 'right']) {
                        // render town
                        this.dom[side].townName.innerHTML = translate('town.' + pair[side].town);
                        this.dom[side].townImg.alt        = this.dom[side].townName.innerHTML;
                        this.dom[side].townImg.src        = this.heroList[pair[side].town].img;
                        this.dom[side].townLink.href      = URL_PATTERN + pair[side].town;

                        // render hero portrait and type
                        this.dom[side].heroName.innerHTML = translate('hero.' + pair[side].hero);
                        this.dom[side].heroType.innerHTML = translate('type.' + this.heroList[pair[side].town].heroes[pair[side].hero].type);
                        this.dom[side].heroImg.src        = this.heroList[pair[side].town].heroes[pair[side].hero].img;
                        this.dom[side].heroImg.alt        = this.dom[side].heroName.innerHTML;
                        this.dom[side].heroLink.href      = URL_PATTERN + pair[side].hero;

                        // render hero speciality
                        this.dom[side].specName.innerHTML = translate('spec.' + this.heroList[pair[side].town].heroes[pair[side].hero].specialty);
                        this.dom[side].specImg.alt        = this.dom[side].specName.innerHTML;
                        this.dom[side].specImg.src        = this.specialties[this.heroList[pair[side].town].heroes[pair[side].hero].specialty].img;
                        this.dom[side].specLink.href      = URL_PATTERN + this.heroList[pair[side].town].heroes[pair[side].hero].specialty;

                        // render hero skills
                        for (index in this.dom[side].skills)
                            if (this.dom[side].skills.hasOwnProperty(index)) {
                                if (this.heroList[pair[side].town].heroes[pair[side].hero].skills.hasOwnProperty(index)) {
                                    key   = this.SKILL_PATTERN.exec(this.heroList[pair[side].town].heroes[pair[side].hero].skills[index]).slice(1, 3);
                                    skill = key.pop();
                                    level = key.pop()

                                    this.dom[side].skills[index].level.innerHTML = translate('skill.' + level);
                                    this.dom[side].skills[index].name.innerHTML  = translate('skill.' + skill);
                                    this.dom[side].skills[index].link.href       = URL_PATTERN + this.heroList[pair[side].town].heroes[pair[side].hero].skills[index];

                                    this.dom[side].skills[index].img.src = this.skills[this.heroList[pair[side].town].heroes[pair[side].hero].skills[index]].img;
                                    this.dom[side].skills[index].img.alt = this.dom[side].skills[index].level.innerHTML + ' ' + this.dom[side].skills[index].name.innerHTML;

                                    this.dom[side].skills[index].img.classList.remove('hidden');
                                } else {
                                    this.dom[side].skills[index].level.innerHTML = '';
                                    this.dom[side].skills[index].name.innerHTML  = '';
                                    this.dom[side].skills[index].link.href       = '#';

                                    this.dom[side].skills[index].img.src = '/images/random-pick.png';
                                    this.dom[side].skills[index].img.alt = '';

                                    this.dom[side].skills[index].img.classList.add('hidden');
                                }
                            }
                    }
                }
            };

            // register modules
            app.register('settings', settings);
            app.register('store', store);
            app.register('picker', picker);
            app.register('modeProvider', modeProvider);
            app.register('modal', modal);
            app.register('trans', trans);
            app.register('popup', popup);

            // set handlers and some operations with DOM after page is loaded
            document.addEventListener('DOMContentLoaded', function () {
                let mode, lang, option, modeSelector, modeId;

                // start app
                app.start(TOWNS_AND_HEROES, SKILLS, SPECILALITIES);

                lang = app.getLang();
                mode = app.getMode();

                // add event listeners
                document.querySelector('#btn-roll').addEventListener('click', function () {
                    app.renderPair(app.getRandomPair());

                    app.renewHeroGrid();
                });

                document.querySelector('#btn-settings').addEventListener('click', function () {
                    let lang = app.getLang(),
                        mode = app.getMode(),
                        option;

                    for (option of document.querySelectorAll('.modal-block__option-check')) {
                        option.checked = !!app.getOption(option.name);
                    }

                    document.querySelector('.button-select__option.selected').classList.remove('selected');
                    document.querySelector('.button-select__option[value="' + lang + '"]').classList.add('selected');

                    document.querySelector('#option-lang').title = lang;

                    document.querySelector('#option-mode option[value="' + mode +'"]').selected = true;

                    app.modules.modal.open(translate('modal.header.settings'), 'modal_content-settings');
                });

                document.querySelector('#btn-user_bans').addEventListener('click', function () {
                    app.modules.modal.open(translate('modal.header.rollBans'), 'modal_roll-ban');
                });

                document.querySelector('#btn-confirm').addEventListener('click', function () {
                    if (app.handleModalClose() || !app.getMode()) {
                        location.reload();
                    } else {
                        app.modules.modal.close();
                    }
                });

                document.querySelector('#btn-close').addEventListener('click', function () {
                    if (app.getMode()) {
                        app.modules.modal.close();

                        app.resetUserBans();
                    } else {
                        location.reload();
                    }
                });

                document.querySelector('#btn-reset-all').addEventListener('click', function () {
                    app.reset();

                    location.reload();
                });

                // modal options filling
                document.querySelector('.button-select__option[value="' + lang + '"]').classList.add('selected');

                document.querySelector('#option-lang').title = lang;

                for (option of document.querySelectorAll('.button-select__option')) {
                    option.addEventListener('click', function () {
                        document.querySelector('.button-select__option.selected').classList.remove('selected');

                        this.classList.add('selected');

                        document.querySelector('#option-lang').title = this.value;
                    });
                }

                modeSelector = document.querySelector('#option-mode');

                for (modeId of app.getRegisteredModes()) {
                    option = document.createElement('OPTION');

                    option.value     = modeId;
                    option.innerHTML = translate('mode.' + app.getModeName(modeId)).replace('mode.', '');

                    modeSelector.appendChild(option);
                }

                // onstart page scenario
                document.title = translate('page.title.randomizer');

                if (lang !== document.documentElement.lang) {
                    document.documentElement.lang = lang;
                }

                if (mode) {
                    app.createHeroGrid(document.querySelector('#grid-towns'), document.querySelector('#grid-heroes'));

                    document.querySelector('#header-mode').innerHTML = translate('mode.' + app.getModeName()).replace('mode.', '');

                    modeSelector.removeChild(modeSelector.querySelector('option[selected="selected"]'));

                    modeSelector.querySelector('option[value="' + mode +'"]').selected = true;

                    if (app.getOption('rollOnStart')) {
                        document.querySelector('#btn-roll').click();
                    }
                } else {
                    app.modules.modal.open(translate('modal.header.settings'), 'modal_content-settings');
                }

            });

            // show error popup with error data
            window.addEventListener('error', function (e) {
                if (
                    // @todo bypass chromium bug: Issue 1328008 remove after it would be fixed
                    e.message === 'Uncaught EvalError: Possible side-effect in debug-evaluate'
                    ||
                    // bypass errors from outside scripts - we do not use any outside scripts, so it is not our problem
                    e.message === 'Script error.'
                ) {
                    return;
                }

                let message = 'error: %msg%. File: %file%, ln: %ln%, pos: %pos%'
                    .replace('%msg%', e.message)
                    .replace('%file%', e.filename)
                    .replace('%ln%', e.lineno.toString())
                    .replace('%pos%', e.colno.toString());

                app.modules.popup.error(translate('popup.error'), message);
            });
        </script>

        <!-- Styles -->
        <link rel="stylesheet" href="styles/styles.css">

        <!-- favicon links -->
        <link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="192x192" href="images/favicon/android-chrome-192x192.png">
        <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
        <link rel="manifest" href="site.webmanifest">
        <link rel="mask-icon" href="images/favicon/safari-pinned-tab.svg" color="#1c2b42">
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="theme-color" content="#ffffff">

        <!-- misc -->
        <meta name="robots" content="noindex, nofollow"/>
    </head>
    <body>
        <div id="content_wrap">
            <div class="content__border">
                <div class="content">
                    <header class="content__header">
                        <h1 class="content__header-capt translate-on-start">page.pageHeader</h1>
                        <div class="content__header-text" id="header-mode">...</div>
                    </header>
                    <main class="content__body-row">
                        <article class="side">
                            <div class="side__header">
                                <div class="header__text-capt translate-on-start">page.town</div>
                                <div class="header__text">
                                    <div class="header__town-img">
                                        <a href="#" class="content-link" target="_blank">
                                            <img src="images/random-city.png" alt="Random town" class="side__town" id="left-town-img">
                                        </a>
                                    </div>
                                    <div class="header__text-city translate-on-start" id="left-town-name">page.randomTown</div>
                                </div>
                            </div>
                            <div class="side__border">
                                <div class="side__body">
                                    <div class="side__content">
                                        <div class="hero">
                                            <div class="hero__img">
                                                <a href="#" class="content-link" target="_blank">
                                                    <img src="images/random-pick.png" alt="Random hero" class="side__hero" id="left-hero-img">
                                                </a>
                                            </div>
                                            <div class="hero__text">
                                                <div class="hero__name" id="left-hero-name">...</div>
                                                <div class="hero__type" id="left-hero-type">...</div>
                                            </div>
                                        </div>
                                        <div class="speciality">
                                            <div class="spec__img">
                                                <a href="#" class="content-link" target="_blank">
                                                    <img src="images/random-pick.png" alt="Random speciality" class="side__spec" id="left-spec-img">
                                                </a>
                                            </div>
                                            <div class="spec__text">
                                                <div class="spec__title translate-on-start">page.speciality</div>
                                                <div class="spec__name" id="left-spec-name">...</div>
                                            </div>
                                        </div>
                                        <div class="skills" id="left-skills">
                                            <div class="skill">
                                                <div class="skill__img">
                                                    <a href="#" class="content-link" target="_blank">
                                                        <img src="images/random-pick.png" alt="Random skill" class="side__skill">
                                                    </a>
                                                </div>
                                                <div class="skill__text">
                                                    <div class="skill__level">...</div>
                                                    <div class="skill__name">...</div>
                                                </div>
                                            </div>
                                            <div class="skill">
                                                <div class="skill__img">
                                                    <a href="#" class="content-link" target="_blank">
                                                        <img src="images/random-pick.png" alt="Random skill" class="side__skill">
                                                    </a>
                                                </div>
                                                <div class="skill__text">
                                                    <div class="skill__level">...</div>
                                                    <div class="skill__name">...</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="separator"></article>
                        <article class="side">
                            <div class="side__header">
                                <div class="header__text-capt translate-on-start">page.town</div>
                                <div class="header__text">
                                    <div class="header__text-city translate-on-start" id="right-town-name">page.randomTown</div>
                                    <div class="header__town-img">
                                        <a href="#" class="content-link" target="_blank">
                                            <img src="images/random-city.png" alt="Random town" class="side__town" id="right-town-img">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="side__border">
                                <div class="side__body">
                                    <div class="side__content">
                                        <div class="hero">
                                            <div class="hero__text">
                                                <div class="hero__name" id="right-hero-name">...</div>
                                                <div class="hero__type" id="right-hero-type">...</div>
                                            </div>
                                            <div class="hero__img">
                                                <a href="#" class="content-link" target="_blank">
                                                    <img src="images/random-pick.png" alt="Random hero" class="side__hero" id="right-hero-img">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="speciality">
                                            <div class="spec__text">
                                                <div class="spec__title translate-on-start">page.speciality</div>
                                                <div class="spec__name" id="right-spec-name">...</div>
                                            </div>
                                            <div class="spec__img">
                                                <a href="#" class="content-link" target="_blank">
                                                    <img src="images/random-pick.png" alt="Random speciality" class="side__spec" id="right-spec-img">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="skills" id="right-skills">
                                            <div class="skill">
                                                <div class="skill__text">
                                                    <div class="skill__level">...</div>
                                                    <div class="skill__name">...</div>
                                                </div>
                                                <div class="skill__img">
                                                    <a href="#" class="content-link" target="_blank">
                                                        <img src="images/random-pick.png" alt="Random skill" class="side__skill">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="skill">
                                                <div class="skill__text">
                                                    <div class="skill__level">...</div>
                                                    <div class="skill__name">...</div>
                                                </div>
                                                <div class="skill__img">
                                                    <a href="#" class="content-link" target="_blank">
                                                        <img src="images/random-pick.png" alt="Random skill" class="side__skill">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </main>
                    <footer class="content__footer">
                        <div class="button__block">
                            <button class="btn-additional translate-on-start" id="btn-user_bans">page.grid</button>
                            <a href="mode_editor.html" class="footer__link translate-on-start">page.patterns</a>
                        </div>
                        <div class="button__block">
                            <button class="btn-main translate-on-start" id="btn-settings">page.settings</button>
                            <button class="btn-main translate-on-start" id="btn-roll">page.roll</button>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
        <div id="overlay" class="hidden">
            <div id="modal_wrap">
                <div class="modal__border">
                    <div id="modal_header">header text</div>
                    <div id="modal_body">
                        <div class="modal__content hidden" id="modal_content-settings">
                            <div class="modal__settings-option">
                                <div class="modal-block__header">
                                    <span class="translate-on-start modal-block__header-capt">modal.langHeader</span>
                                    <span class="translate-on-start modal-block__header-text">modal.langText</span>
                                </div>
                                <div class="modal-block__control" title="" id="option-lang">
                                    <button value="en" class="button-select__option">en</button>
                                    <button value="ru" class="button-select__option">ru</button>
                                </div>
                            </div>
                            <div class="modal__settings-option">
                                <div class="modal-block__header">
                                    <label for="option-mode" class="translate-on-start modal-block__header-capt">modal.modeHeader</label>
                                    <span class="translate-on-start modal-block__header-text">modal.modeText</span>
                                </div>
                                <div class="modal-block__control">
                                    <select id="option-mode">
                                        <option value="" selected="selected" disabled="disabled"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal__settings-option">
                                <div class="modal-block__header">
                                    <span class="translate-on-start modal-block__header-capt">modal.miscOptionsHeader</span>
                                    <span class="translate-on-start modal-block__header-text">modal.miscOptionsText</span>
                                </div>
                                <div class="modal-block__options">
                                    <div class="modal-block__option">
                                        <input type="checkbox" name="rollOnStart" id="opt-rollOnStart" class="modal-block__option-check">
                                        <label for="opt-rollOnStart" class="translate-on-start modal-block__option-label">modal.option.rollOnStart</label>
                                    </div>
                                    <div class="modal-block__option">
                                        <input type="checkbox" name="strictRoll" id="opt-strictRoll" class="modal-block__option-check">
                                        <label for="opt-strictRoll" class="translate-on-start modal-block__option-label">modal.option.strict</label>
                                    </div>
                                </div>
                            </div>
                            <div class="modal__settings-option">
                                <div class="modal-block__header">
                                    <span class="translate-on-start modal-block__header-capt">modal.resetHeader</span>
                                    <span class="translate-on-start modal-block__header-text">modal.resetText</span>
                                </div>
                                <div class="modal-block__control">
                                    <button class="btn-option translate-on-start" id="btn-reset-all">modal.confirmReset</button>
                                </div>
                            </div>
                        </div>
                        <div class="modal__content hidden" id="modal_roll-ban">
                            <div class="modal-block__header">
                                <span class="translate-on-start modal-block__header-capt">modal.gridHeader</span>
                                <span class="translate-on-start modal-block__header-text">modal.gridText</span>
                            </div>
                            <div class="modal-block__control">
                                <div class="modal__grid-block" id="grid-towns"></div>
                                <div class="modal__grid-block" id="grid-heroes"></div>
                            </div>
                        </div>
                    </div>
                    <div id="modal_footer">
                        <button class="btn-modal button-close" id="btn-close"></button>
                        <button class="btn-modal button-confirm" id="btn-confirm"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="body-links">
            <a href="https://codeberg.org/h3p/pages/" class="body-link translate-on-start" target="_blank">page.about</a>
        </div>
    </body>
</html>
