<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1">
        <title>Mode editor</title>

        <!-- JS modules and constants -->
        <script src="scripts/base.js"></script>
        <script src="scripts/constants.js"></script>

        <!-- JS base languages -->
        <script src="lang/en.js"></script>
        <script src="lang/ru.js"></script>

        <!-- JS app code and handlers -->
        <script>
            'use strict';

            /**
             * Application object
             *
             * @type {{
             * NAME_PATTERN: RegExp,
             * TRANSLATE_CLASS: string,
             * heroList: null|object,
             * grid: {heroes: {}, towns: {}},
             * modules: {}|{modal: modal, modeProvider: modeProvider, trans: trans, popup: popup, settings: settings},
             * currentMode: {bannedHeroes: null|string[], mirror: null|boolean, bannedTowns: null|string[], name: null|string, id: null|string},
             * start: app.start,
             * register: app.register,
             * getMirror: (function((string|null)=): boolean|null),
             * getModeName: (function((string|null)=): string|null),
             * getLang: (function()),
             * getRegisteredModes: (function(): string[]),
             * getCurrentMode: (function(): null|string),
             * setCurrentMode: app.setCurrentMode,
             * saveCurrentMode: app.saveCurrentMode,
             * deleteCurrentMode: app.deleteCurrentMode,
             * handleModalClose: ((function(): boolean)),
             * createHeroGrid: app.createHeroGrid,
             * renewHeroGrid: app.renewHeroGrid
             * }}
             *
             * @property {{modal: modal, modeProvider: modeProvider, trans: trans, popup: popup, settings: settings}} modules registered modules
             */
            const app = {
                TRANSLATE_CLASS: '.translate-on-start',
                NAME_PATTERN: /^[а-я\w \-,.]{5,100}$/i,
                modules: {},
                heroList: null,
                currentMode: {
                    id          : null,
                    name        : null,
                    mirror      : null,
                    bannedHeroes: null,
                    bannedTowns : null
                },
                grid: {towns: {}, heroes: {}},
                /**
                 * Add modules in app
                 *
                 * @param {string}   name        module name
                 * @param {object}   module      module object
                 * @param {function} module.init module object should have init function
                 */
                register: function (name, module) {
                    this.modules[name] = module;
                },
                /**
                 * Start app handler
                 *
                 * @param {object} heroList heroes`by`town object
                 */
                start: function (heroList) {
                    let name, item;

                    this.heroList    = heroList;

                    for (name in this.modules)
                        if (this.modules.hasOwnProperty(name)) {
                            this.modules[name].init();
                        }

                    this.modules.trans.addLang('en', EN);
                    this.modules.trans.addLang('ru', RU);
                    this.modules.trans.setActiveLang(this.getLang());

                    for (item of document.querySelectorAll(this.TRANSLATE_CLASS)) {
                        item.innerHTML = translate(item.innerHTML);
                    }
                },
                /**
                 * Get app language
                 *
                 * @returns {string}
                 */
                getLang: function () {
                    return this.modules.settings.getOption('lang', document.documentElement.lang);
                },
                /**
                 * Get id of current edited mode
                 *
                 * @returns {null|string}
                 */
                getCurrentMode: function () {
                    return this.currentMode.id;
                },
                /**
                 * Set current mode by id, load all its params from store
                 *
                 * @param {string} id mode unique id
                 */
                setCurrentMode: function (id) {
                    this.currentMode.id     = id;
                    this.currentMode.name   = this.modules.modeProvider.getName(id);
                    this.currentMode.mirror = this.modules.modeProvider.getIsMirror(id);

                    this.renewHeroGrid();
                },
                /**
                 * Update exists mode or add new from app in store and save it in Local Storage
                 */
                saveCurrentMode: function () {
                    if (this.modules.modeProvider.getListOfModes().includes(this.currentMode.id)) {
                        this.modules.modeProvider.updateCustomMode(
                            this.currentMode.id,
                            this.currentMode.name,
                            this.currentMode.bannedHeroes.map(function (item) {return item.split('.')[1];}),
                            this.currentMode.bannedTowns,
                            this.currentMode.mirror
                        );
                    } else {
                        this.modules.modeProvider.addMode(
                            this.currentMode.id,
                            this.currentMode.name,
                            this.currentMode.bannedHeroes.map(function (item) {return item.split('.')[1];}),
                            this.currentMode.bannedTowns,
                            this.currentMode.mirror,
                            false
                        )
                    }

                    this.modules.modeProvider.persist();
                },
                /**
                 * Delete current mode from app and store
                 */
                deleteCurrentMode: function () {
                    this.modules.modeProvider.removeMode(this.currentMode.id);

                    this.modules.modeProvider.persist();
                },
                /**
                 * Get list of modes available in store
                 *
                 * @returns {string[]}
                 */
                getRegisteredModes: function () {
                    return this.modules.modeProvider.getListOfModes();
                },
                /**
                 * Get name of specific mode or current mode
                 *
                 * @param {null|string} [id] unique mode id
                 *
                 * @returns {string|null}
                 */
                getModeName: function (id) {
                    return id ? this.modules.modeProvider.getName(id) : this.currentMode.name;
                },
                /**
                 * Get mirror state of specific mode or current mode
                 *
                 * @param {null|string} [id] unique mode id
                 *
                 * @returns {boolean|null}
                 */
                getMirror: function (id) {
                    return id ? this.modules.modeProvider.getIsMirror(id) : this.currentMode.mirror;
                },
                /**
                 * Handle modal window close
                 *
                 * @returns {boolean}
                 */
                handleModalClose: function () {
                    let active = this.modules.modal.getActiveId(),
                        mode, modeList, name, mirror;

                    if (active === 'modal_edit-mode') {
                        mode   = document.querySelector('#inp-mode-id').value;
                        name   = '' + document.querySelector('#inp-mode_name').value;

                        switch (document.querySelector('#option-mirror').selectedOptions[0].value) {
                            case 'false':
                                mirror = false;

                                break;
                            case 'true':
                                mirror = true;

                                break;
                            case 'null':
                                mirror = null;

                                break;
                            default:
                                return false;
                        }

                        if (!app.NAME_PATTERN.test(name)) {
                            return false;
                        }

                        if (mode === '') {
                            modeList = app.getRegisteredModes();

                            do {
                                mode = 'm-' + Math.floor(Math.random() * 10000).toString().padStart(4, '0');
                            } while (modeList.includes(mode));

                            this.currentMode.id = mode;

                            this.renewHeroGrid(true);
                        }

                        this.currentMode.name   = name;
                        this.currentMode.mirror = mirror;

                        return true;
                    } else if (active === 'modal_select-mode') {
                        mode = document.querySelector('#option-mode').selectedOptions[0].value;

                        if (mode) {
                            this.setCurrentMode(mode);

                            return true;
                        }

                        return false;
                    }
                },
                /**
                 * Build blocks with town and hero tiles, add handlers on it. All links for tiles will be stored in app for quick access, app will handle tiles state
                 *
                 * @param {Element} townBlock   DOM element where to place town block
                 * @param {Element} heroesBlock DOM element where to place hero blocks
                 */
                createHeroGrid: function (townBlock, heroesBlock) {
                    let heroTile   = document.createElement('DIV'),
                        townTile   = document.createElement('DIV'),
                        heroBlock  = document.createElement('DIV'),
                        town, hero, elem, img, block, item;

                    heroTile.classList.add('grid__hero-tile');
                    heroBlock.classList.add('grid__hero-block', 'hidden');
                    townTile.classList.add('grid__town-tile');

                    for (town in this.heroList)
                        if (this.heroList.hasOwnProperty(town)) {
                            elem = townBlock.appendChild(townTile.cloneNode());
                            img  = elem.appendChild(document.createElement('IMG'));

                            elem.title = town;
                            img.title  = translate('town.' + town);
                            img.src    = this.heroList[town].img;

                            // first click - displays hero list of this town and bans it in current mode, next one - remove ban
                            elem.addEventListener('click', function (e) {
                                let active = document.querySelector('.grid__hero-block:not(.hidden)');

                                if (active.title !== e.currentTarget.title && !e.currentTarget.classList.contains('used')) {
                                    active.classList.add('hidden');
                                    document.querySelector('.grid__hero-block[title="' + e.currentTarget.title +'"]').classList.remove('hidden');
                                }

                                if (this.currentMode.bannedTowns.includes(e.currentTarget.title)) {
                                    this.currentMode.bannedTowns.splice(this.currentMode.bannedTowns.indexOf(e.currentTarget.title), 1);

                                    e.currentTarget.classList.remove('skipped');
                                } else {
                                    this.currentMode.bannedTowns.push(e.currentTarget.title);

                                    e.currentTarget.classList.add('skipped');
                                }
                            }.bind(this));

                            block = heroesBlock.appendChild(heroBlock.cloneNode());

                            block.title = town;

                            for (hero in this.heroList[town].heroes)
                                if (this.heroList[town].heroes.hasOwnProperty(hero)) {
                                    item = block.appendChild(heroTile.cloneNode());
                                    img  = item.appendChild(document.createElement('IMG'));

                                    item.title = town + '.' + hero;
                                    img.title  = translate('hero.' + hero);
                                    img.src    = this.heroList[town].heroes[hero].img;

                                    item.addEventListener('click', function (e) {
                                        if (this.currentMode.bannedHeroes.includes(e.currentTarget.title)) {
                                            this.currentMode.bannedHeroes.splice(this.currentMode.bannedHeroes.indexOf(e.currentTarget.title), 1);

                                            e.currentTarget.classList.remove('skipped');
                                        } else {
                                            this.currentMode.bannedHeroes.push(e.currentTarget.title);

                                            e.currentTarget.classList.add('skipped');
                                        }
                                    }.bind(this));

                                    this.grid.heroes[item.title] = item;
                                }

                            this.grid.towns[town] = elem;
                        }

                    document.querySelector('.grid__hero-block').classList.remove('hidden');
                },
                /**
                 * Change tile state according current mode or clear state for new mode
                 *
                 * @param {boolean} [empty] mark for new mode
                 */
                renewHeroGrid: function (empty) {
                    let mode          = this.getCurrentMode(),
                        allowedHeroes = {},
                        allowedTowns  = [],
                        index, town, hero, key;

                    if (!empty) {
                        allowedHeroes = this.modules.modeProvider.getAllowedHeroes(mode, this.heroList);
                        allowedTowns  = this.modules.modeProvider.getAllowedTowns(mode, Object.keys(this.heroList));
                    }

                    this.currentMode.bannedHeroes = [];
                    this.currentMode.bannedTowns  = [];

                    for (index in this.grid.towns)
                        if (this.grid.towns.hasOwnProperty(index)) {
                            if (empty || allowedTowns.includes(this.grid.towns[index].title)) {
                                this.grid.towns[index].classList.remove('skipped');
                            } else {
                                this.currentMode.bannedTowns.push(this.grid.towns[index].title);

                                this.grid.towns[index].classList.add('skipped');
                            }
                        }

                    for (index in this.grid.heroes)
                        if (this.grid.heroes.hasOwnProperty(index)) {
                            key  = this.grid.heroes[index].title.split('.', 2);
                            hero = key.pop();
                            town = key.pop();

                            if (empty || this.currentMode.bannedTowns.includes(town) || allowedHeroes[town].includes(hero)) {
                                this.grid.heroes[index].classList.remove('skipped');
                            } else {
                                this.currentMode.bannedHeroes.push(this.grid.heroes[index].title);

                                this.grid.heroes[index].classList.add('skipped');
                            }
                        }
                },
            };

            app.register('settings', settings);
            app.register('trans', trans);
            app.register('modal', modal);
            app.register('modeProvider', modeProvider);
            app.register('popup', popup);

            document.addEventListener('DOMContentLoaded', function () {
                let lang, modeSelector, modeId, option, modeList;

                // start app
                app.start(TOWNS_AND_HEROES);

                lang = app.getLang();

                // add event listeners
                document.querySelector('#btn-confirm').addEventListener('click', function () {
                    let result = app.handleModalClose(),
                        item, name, option, mode;

                    if (typeof result === 'boolean') {
                        if (result) {
                            mode   = app.getCurrentMode();
                            name   = app.getModeName();
                            option = document.querySelector('#option-mode option[value="' + mode + '"]');

                            for (item of document.querySelectorAll('.modal__error:not(.hidden)')) {
                                item.classList.add('hidden');
                            }

                            document.querySelector('#header-mode').innerHTML = name;

                            if (!option) {
                                option       = document.querySelector('#option-mode').appendChild(document.createElement('option'));
                                option.value = mode;
                            }

                            option.innerHTML = name;

                            app.modules.modal.close();
                        } else {
                            for (item of document.querySelectorAll('.modal__error')) {
                                item.classList.remove('hidden');
                            }
                        }
                    } else {
                        location.reload();
                    }
                });

                document.querySelector('#btn-new').addEventListener('click', function () {
                    document.querySelector('#inp-mode-id').value = '';
                    document.querySelector('#inp-mode_name').value = '';

                    document.querySelector('#option-mirror option').selected = true;

                    app.modules.modal.open(translate('modal.header.newMode'), 'modal_edit-mode');
                });

                document.querySelector('#btn-edit').addEventListener('click', function () {
                    let mirror = app.getMirror();

                    if (typeof mirror === 'boolean') {
                        mirror = mirror ? 'true' : 'false';
                    } else {
                        mirror = 'null';
                    }

                    document.querySelector('#inp-mode-id').value   = app.getCurrentMode();
                    document.querySelector('#inp-mode_name').value = app.getModeName();

                    document.querySelector('#option-mirror option[value="' + mirror + '"]').selected = true;

                    app.modules.modal.open(translate('modal.header.editMode'), 'modal_edit-mode');
                });

                document.querySelector('#btn-delete').addEventListener('click', function (){
                    app.deleteCurrentMode();

                    location.reload();
                });

                document.querySelector('#btn-close').addEventListener('click', function () {
                    let item;

                    if (app.getCurrentMode()) {
                        for (item of document.querySelectorAll('.modal__error:not(.hidden)')) {
                            item.classList.add('hidden');
                        }

                        app.modules.modal.close();
                    } else {
                        location.reload();
                    }
                });

                document.querySelector('#btn-save').addEventListener('click', function (e) {
                    e.stopPropagation();

                    app.saveCurrentMode();

                    app.modules.popup.alert(translate('popup.saved'));
                });

                document.querySelector('#btn-select').addEventListener('click', function () {
                    let mode = app.getCurrentMode();

                    if (mode) {
                        document.querySelector('#option-mode option[value="' + mode + '"]').selected = true;
                    } else {
                        document.querySelector('#option-mode option[value=""]').selected = true;
                    }

                    app.modules.modal.open(translate('modal.header.selectMode'), 'modal_select-mode');
                });

                // modal options filling
                app.createHeroGrid(document.querySelector('#grid-towns'), document.querySelector('#grid-heroes'));

                // onstart page scenario
                document.title = translate('page.title.patterns');

                modeList     = app.getRegisteredModes();
                modeSelector = document.querySelector('#option-mode');

                for (modeId of modeList) {
                    option           = modeSelector.appendChild(document.createElement('OPTION'));
                    option.value     = modeId;
                    option.innerHTML = translate(app.getModeName(modeId));
                }

                if (lang !== document.documentElement.lang) {
                    document.documentElement.lang = lang;
                }

                if (modeList.length) {
                    app.modules.modal.open(translate('modal.header.selectMode'), 'modal_select-mode');
                } else {
                    app.modules.modal.open(translate('modal.header.newMode'), 'modal_edit-mode');
                }
            });

            // show error popup with error data
            window.addEventListener('error', function (e) {
                if (
                    // @todo bypass chromium bug: Issue 1328008 remove after it would be fixed
                    e.message === 'Uncaught EvalError: Possible side-effect in debug-evaluate'
                    ||
                    // bypass errors from outside scripts - we do not use any outside scripts, so it is not our problem
                    e.message === 'Script error.'
                ) {
                    return;
                }

                let message = 'error: %msg%. File: %file%, ln: %ln%, pos: %pos%'
                    .replace('%msg%', e.message)
                    .replace('%file%', e.filename)
                    .replace('%ln%', e.lineno.toString())
                    .replace('%pos%', e.colno.toString());

                app.modules.popup.error(translate('popup.error'), message);
            });
        </script>

        <!-- Styles -->
        <link rel="stylesheet" href="styles/styles.css">

        <!-- favicon links -->
        <link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="192x192" href="images/favicon/android-chrome-192x192.png">
        <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">

        <link rel="manifest" href="site.webmanifest">
        <link rel="mask-icon" href="images/favicon/safari-pinned-tab.svg" color="#1c2b42">
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <div id="content_wrap">
            <div class="content__border">
                <div class="content">
                    <header class="content__header">
                        <h1 class="content__header-capt translate-on-start">page.pageHeader</h1>
                        <div class="content__header-text" id="header-mode">...</div>
                    </header>
                    <main class="content__body-col">
                        <article class="body__block">
                            <div id="heroes-grid" class="grid__in-row">
                                <div class="grid__border">
                                    <div id="grid-towns" class="grid__content"></div>
                                </div>
                                <div class="grid__border">
                                    <div id="grid-heroes" class="grid__content"></div>
                                </div>
                            </div>
                        </article>
                        <article class="body__block">
                            <div class="content__misc">
                                <div class="content__misc-header translate-on-start">page.miscHeader</div>
                                <div class="content__misc-options">
                                    <button class="btn-option translate-on-start" id="btn-edit">page.miscEdit</button>
                                    <button class="btn-option translate-on-start" id="btn-delete">page.miscDelete</button>
                                </div>
                            </div>
                        </article>
                    </main>
                    <footer class="content__footer">
                        <div class="button__block">
                            <button class="btn-additional translate-on-start" id="btn-select">page.selectPattern</button>
                            <a href="index.html" class="footer__link translate-on-start">page.randomizer</a>
                        </div>
                        <div class="button__block">
                            <button class="btn-main translate-on-start" id="btn-new">page.newPattern</button>
                            <button class="btn-main translate-on-start" id="btn-save">page.savePattern</button>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
        <div id="overlay" class="hidden">
            <div id="modal_wrap">
                <div class="modal__border">
                    <div id="modal_header">header text</div>
                    <div id="modal_body">
                        <div class="modal__content hidden" id="modal_edit-mode">
                            <input type="hidden" name="id" id="inp-mode-id">
                            <div class="modal__error hidden">
                                <div class="modal-block__header">
                                    <label class="translate-on-start modal-block__header-capt" for="inp-mode_name">modal.errorHeader</label>
                                    <span class="translate-on-start modal-block__header-error">modal.error.editMode</span>
                                </div>
                            </div>
                            <div class="modal__settings-option">
                                <div class="modal-block__header">
                                    <label class="translate-on-start modal-block__header-capt" for="inp-mode_name">modal.nameHeader</label>
                                    <span class="translate-on-start modal-block__header-text">modal.nameText</span>
                                </div>
                                <div class="modal-block__control" id="option-mode_name">
                                    <input type="text" id="inp-mode_name" autocomplete="off">
                                </div>
                            </div>
                            <div class="modal__settings-option">
                                <div class="modal-block__header">
                                    <label for="option-mirror" class="translate-on-start modal-block__header-capt">modal.mirrorHeader</label>
                                    <span class="translate-on-start modal-block__header-text">modal.mirrorText</span>
                                </div>
                                <div class="modal-block__control">
                                    <select id="option-mirror">
                                        <option value="false" selected="selected" class="translate-on-start">modal.mirror.optionFalse</option>
                                        <option value="true" class="translate-on-start">modal.mirror.optionTrue</option>
                                        <option value="null" class="translate-on-start">modal.mirror.optionNull</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal__content hidden" id="modal_select-mode">
                            <div class="modal__error hidden">
                                <div class="modal-block__header">
                                    <label class="translate-on-start modal-block__header-capt" for="inp-mode_name">modal.errorHeader</label>
                                    <span class="translate-on-start modal-block__header-error">modal.error.selectMode</span>
                                </div>
                            </div>
                            <div class="modal__settings-option">
                                <div class="modal-block__header">
                                    <label for="option-mode" class="translate-on-start modal-block__header-capt">modal.modeSelectHeader</label>
                                    <span class="translate-on-start modal-block__header-text">modal.modeSelectText</span>
                                </div>
                                <div class="modal-block__control">
                                    <select id="option-mode">
                                        <option value="" selected="selected" disabled="disabled"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="modal_footer">
                        <button class="btn-modal button-close" id="btn-close"></button>
                        <button class="btn-modal button-confirm" id="btn-confirm"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="body-links">
            <a href="https://codeberg.org/h3p/pages/" class="body-link translate-on-start" target="_blank">page.about</a>
        </div>
    </body>
</html>